body {
    margin: 0;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    background: #2d3a47;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
}
.wrapper input {
    border: 5px solid #fc6563;
    border-radius: 30px;
    text-align: center;
    height: 30px;
    padding: 10px;
    width: 250px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 1.2em;
}
.wrapper input[type="submit"] {
    display: block;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}
.label {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-size: 1.2em;
}

.white, .red {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    -webkit-appearance: button !important;
    transition: border 300ms;
}
.white {
    background-color: #fff;
    border:none !important;
}
.red {
    background-color: #FC6563;
}
.teamselect input:checked {
    border: 5px solid #2196F3 !important;
}
.teamselect input:focus {
    -webkit-outline: none;
    outline: none;
}

#board {
    background-color: #fff;
    table-layout: fixed;
    border-collapse: collapse;
    user-select: none;
    cursor: default;
    font-size: 0px;
}
#board td {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #333;
}
#board tr:nth-child(even) td:nth-child(odd) {
    background-color: #FC6563;
}
#board tr:nth-child(odd) td:nth-child(even) {
    background-color: #FC6563;
}
#board tr:nth-child(even) td:nth-child(even) {
    background-color: #FFFFFF;
}
#board tr:nth-child(odd) td:nth-child(odd) {
    background-color: #FFFFFF;
}
